@font-face {
  font-family: "ArialMT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialMT.ttf") format("truetype"); }

@font-face {
  font-family: "SegoeWP";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeWP.ttf") format("truetype"); }

@font-face {
  font-family: "SegoeWPNLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeWPN-Light.ttf") format("truetype"); }

@font-face {
  font-family: "SegoeWPN-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeWPN-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "SegoeUI-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeUI-SemiBold.ttf") format("truetype"); }


@font-face {
  font-family: "Univers CE 45 Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Univers CE 45 Light.ttf") format("truetype"); }

@font-face {
  font-family: "MrsEavesItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MrsEaves/MrsEavesItalic.ttf") format("truetype"); }