*{
	margin: 0;
	padding: 0;
	font-family: "SegoeWPNLight", sans-serif;
}

body {}
.container {
	width: 1140px;
}

/*/////////////HEADER/////////////*/

header {
	width: 100%;
	background-image: url(../img/fon.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: 0 0;
	height: 500px;
	position: relative;
}

header .container {
	position: relative;
	padding: 0;
}

header .container .row {
	position: relative;
	z-index: 2;
}

header h1 {
	margin: 25px 0 0 134px;
	font-family: "MrsEavesItalic", sans-serif;
	font-size: 118.51px;
	color: #CDCFD0;
}

header nav .nav {
	padding: 38px 0 0 34px;
}

header nav li {
 margin-left: 20px;
}

header nav a {
	color: #CDCFD0;
	font-size: 22.63px;
	font-family: "SegoeWPNLight", sans-serif;
}

header nav .nav-link:hover {
	text-decoration: underline;
	color: #CDCFD0;
}

header .nav-link {
    padding: 10px 15px;
}

.car {
	position: absolute;
	top: 0;
	z-index: 1;
}

.coffee {
	padding: 31px 0 0 173px;
}

.intro {
	color: #fff;
	padding-top: 77px;
    padding-left: 10px;

}

.intro h2 {
	font-family: "SegoeWPN-Semibold", sans-serif;
	font-size: 64.63px;
	line-height: 62px;
	margin-bottom: 2px;
}

.intro h3 {
	font-size: 44.63px;
	margin-bottom: 31px;
}

.intro button {
	margin-left: 8px;
	font-size: 22.63px;
	color: #fff;
	border: none;
	background-color: #206544;
    padding: 2px 24px 3px 20px;
    letter-spacing: 0.3px;
	box-shadow: 0 0 4px 4px #333;
}

.intro button:hover {
	background-color:#0DF385;
	color: #333;
	box-shadow: 0 0 4px 4px #ccc;
}

/*/////////////MAIN/////////////*/


main.container {
	padding: 64px 55px 0 61px;
}

main .row {
	margin-right: 0px;
    margin-left: 0px;
}

.nav-tabs .nav-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin-bottom: -1px;
}

main ul li {
	text-align: center;
}

.nav-link {
	padding: .5rem 2rem;
}

main ul li a {
	color: #5C5B5B;
}

main .col-3 .nav-link.active h2{
	font-family: "SegoeWPN-Semibold", sans-serif;
}



main ul li.col-3 {
	padding: 0;
}

main ul li a > img {
	width: 135px;
	height: 154px;
	margin-top: 20px;
	margin-bottom: 16px;
}

main ul li a > h2 {
	font-size: 26.63px;
	line-height: 28px;
	padding-bottom: 30px;
}

/*/////////////articles/////////////*/

article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 59px 57px 40px  54px;
	color: #818181;
	border: 1px solid #dee2e6;
	border-top: none;
}

article img {
	margin-left: 101px;
	margin-bottom: 12px;
}

.responsive img {
	
}

.e_commerce img {
	filter: sepia(100%);
}

.daily img {
	filter: invert(100%);
}

.search img {
	filter: opacity(75%);
}

article h1 {
	margin-bottom: 24px;
	letter-spacing: -0.6px;
}

article p {
	font-family: "Univers CE 45 Light", sans-serif;
	font-size: 14px;
	line-height: 24px;
    margin-bottom: 24px;
}



/*/////////////Why us/////////////*/

.why {
	margin-bottom: 56px;
}

.why .col-5 {
	padding: 0;
}

.why img {
	margin: 20px 0 0 -17px;
}

.why .col-7 {
	padding-left: 79px;
	padding-top: 47px;
	padding-right: 0;
}

.why h2 {
	font-family: "SegoeWPNLight", sans-serif;
	margin-bottom: 28px;
}

.why ul {
	margin-left: 1px;
	list-style-type: none;
}

.why ul li {
	font-family: "Univers CE 45 Light", sans-serif;
	font-size: 16px;
	word-spacing: -1px;
	line-height: 22px;
	background-image: url(../img/marker.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
	text-align: left;
	margin-bottom: 16px;
	padding-left: 30px;
}



/*/////////////forms/////////////*/

.forms {
	font-family: "SegoeWPNLight", sans-serif;
	color: #fff;
	width: 100%;
	border-top: 1px solid #E6E6E6;
}

.forms .container {
	padding: 23px 55px 35px 60px;
}

.forms form {
	padding: 8px 15px 18px 26px;
	border-radius: 5px;	
}

.forms form[name="login"] {
	background-color: #E67624;
	margin-right: 28px;
}

.forms form[name="newsletter"] {
	background-color: #01D2F1;
	margin: 0 18px 0 8px;
}

.forms form h2 {
	margin-bottom: 20px;
	font-size: 28px;
}

.forms form input {
    margin-left: 3px;
	padding: 1px 10px;
	border: none;
}

.forms form input[type="text"] {
	width: 155px;
	margin-right: 7px;
}

.forms form input[type="password"] {
	width: 150px;
	margin-right: 7px;
}

.forms form[name="newsletter"] input {
	width: 264px;
	margin-right: 46px;
}

.forms form button {
	padding: 3px 11px 3px 13px;
	border: none;
	color: #fff;
}

.forms form[name="login"] button {
	background-color: #444444;
}

.forms form[name="login"] input:hover, 
.forms form[name="login"] button:hover {
	box-shadow: 0 0 10px 4px #FAB505;
}

.forms form[name="newsletter"] button {
	background-color: #029BB1;
	padding: 3px 21px 3px 26px;
}

.forms form[name="newsletter"] input:hover, 
.forms form[name="newsletter"] button:hover {
	box-shadow: 0 0 10px 4px #9DF0FD;
}



/*/////////////FOOTER/////////////*/

footer {
	background-color: #272928;
}

footer .container {
	padding: 29px 60px 40px 78px;
	font-family: "ArialMT", sans-serif;
	font-size: 13px;
	color: #9E9D9D;
}

footer .container h2 {
	font-family: "SegoeWPNLight", sans-serif;
	font-size: 22px;
	margin-bottom: 8px;
}

footer .container li {
	list-style-type: none;	
    margin-left: 2px;
}

footer .container li > a {
	line-height: 22px;
	color: #9E9D9D;
}


footer .container .col-2 {
	padding-left: 28px;
	margin-left: 15px;
}

footer .container .col-4{
	margin-left: 33px;
	padding-right: 0;
}

footer .container .col-4 h2 {
	margin-bottom: 11px;
	display: inline-block;
}

footer .container .col-4 img[alt="back"] {
	margin-left: 63px;
    margin-top: -4px;
}

footer .container .col-4 img[alt="next"] {
	margin-left: 5px;
    margin-top: -4px;
}

footer .container .col-4 p {
	margin-left: 1px;
	line-height: 22px;
    letter-spacing: 0.25px;
    word-spacing: 0.25px;
    margin-bottom: 5px;
}

footer .container .col-4 h4 {
	font-weight: bold;
	font-size: 13px;
	margin-left: 3px;
	letter-spacing: 1px;
}

footer .container .col-3 h1 {
	margin: 17px 0 8px 17px;
	font-family: "MrsEavesItalic", sans-serif;
	line-height: 120px;
	font-size: 118.51px;
	color: #CDCFD0;
}

footer .container .col-3 span {
	margin: 0;
	font-family: "ArialMT", sans-serif;
	margin-left: 17px;
}