*{
	margin: 0;
	padding: 0;
	font-family: "SegoeWPNLight", sans-serif;
}

body {}

/*/////////////HEADER/////////////*/

header {
	width: 100%;
	background-image: url(../img/fon.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: 0 0;
	height: 488px;
	position: relative;
}

header h1 {
	margin: 25px 0 0 134px;
	font-family: "MrsEavesItalic", sans-serif;
	font-size: 118.51px;
	color: #CDCFD0;
}

header nav {
	/*padding: 0;*/
}

header nav .nav {
	padding: 40px 0 0 33px;
}

header nav li {
 margin-left: 20px;
}

header nav a {
	color: #CDCFD0;
	font-size: 22.63px;
	font-family: "SegoeWPNLight", sans-serif;

}

.coffee {
	padding: 31px 0 0 173px;
}

.intro {
	color: #fff;
	padding-top: 72px;
    padding-left: 10px;

}

.intro h2 {
	font-family: "segoe-wpn-semibold", sans-serif;
	font-size: 64.63px;
	line-height: 70px;
	margin-bottom: 0;
}

.intro h3 {
	font-size: 44.63px;
	/*color: #fff;*/
	margin-bottom: 31px;
}

.intro button {
	margin-left: 8px;
	font-size: 22.63px;
	color: #fff;
	border: none;
	background-color: #206544;
    padding: 2px 24px 3px 20px;
    letter-spacing: 0.3px;
	box-shadow: 0 0 4px 4px #333;
}

/*/////////////MAIN/////////////*/

main {
	/*padding-top: 60px;*/
}

main.container {
	padding: 64px 55px 0 61px;
}

main .row {
	margin-right: 0px;
    margin-left: 0px;
}

.nav-tabs .nav-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin-bottom: -1px;
}

main ul li {
	text-align: center;
}

.nav-link {
	padding: .5rem 2rem;
}

main ul li a {
	color: #5C5B5B;
}

.nav-link.active {
	font-family: "segoe-wpn-semibold", sans-serif;
	font-weight: bold;
}

main ul li.col-3 {
	padding: 0;
}

main ul li a > img {
	width: 135px;
	height: 154px;
	margin-top: 20px;
	margin-bottom: 16px;
}

main ul li a > h2 {
	font-size: 26.63px;
	line-height: 28px;
	padding-bottom: 30px;
}

/*.responsive, */
.e_commerce, .daily, .search {
	display: none;
}

/*.nav-link[name="responsive"].active .responsive {
	display: block;
}

.nav-link[name="e_commerce"].active .e_commerce {
	display: block;
}

.nav-link[name="daily"].active .daily {
	display: block;
}

.nav-link[name="search"].active .search {
	display: block;
}*/



/*/////////////articles/////////////*/

article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 59px 57px 40px  54px;
	color: #818181;
	border: 1px solid #dee2e6;
	border-top: none;
}

article img {
	margin-left: 101px;
	margin-bottom: 12px;
}

.responsive img {
	
}

.e_commerce img {
	filter: sepia(100%);
}

.daily img {
	filter: invert(100%);
}

.search img {
	filter: opacity(75%);
}

article h1 {
	margin-bottom: 24px;
	letter-spacing: -0.6px;
}

article p {
	font-family: "Univers CE 45 Light", sans-serif;
	font-size: 14px;
	line-height: 24px;
    margin-bottom: 24px;
}



/*/////////////Why us/////////////*/

.why {
	margin-bottom: 56px;
}

.why .col-5 {
	padding: 0;
}

.why img {
	margin: 20px 0 0 -17px;
}

.why .col-7 {
	padding-left: 79px;
	padding-top: 47px;
	padding-right: 0;
}

.why h2 {
	font-family: "SegoeWPNLight", sans-serif;
	margin-bottom: 28px;
}

.why ul {
	margin-left: 1px;
	list-style-type: none;
}

.why ul li {
	font-family: "Univers CE 45 Light", sans-serif;
	font-size: 16px;
	word-spacing: -1px;
	line-height: 22px;
	background-image: url(../img/marker.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
	/*list-style-image: url(../img/marker.png);*/
	text-align: left;
	margin-bottom: 16px;
	padding-left: 30px;
}



/*/////////////forms/////////////*/

.forms {
	font-family: "SegoeWPNLight", sans-serif;
	color: #fff;
	width: 100%;
	border-top: 1px solid #E6E6E6;
}

.forms .container {
	padding: 23px 55px 35px 60px;
}

.forms form {
	padding: 8px 15px 18px 26px;
	border-radius: 5px;	
}

.forms form[name="login"] {
	background-color: #E67624;
	margin-right: 28px;
}

.forms form[name="newsletter"] {
	background-color: #01D2F1;
	margin: 0 18px 0 8px;
}

.forms form h2 {
	margin-bottom: 20px;
	font-size: 28px;
}

.forms form input {
    margin-left: 3px;
	padding: 1px 10px;
	border: none;
}

.forms form input[type="text"] {
	width: 155px;
	margin-right: 7px;
}

.forms form input[type="password"] {
	width: 150px;
	margin-right: 7px;
}

.forms form[name="newsletter"] input {
	width: 264px;
	margin-right: 46px;
}

.forms form button {
	padding: 3px 11px 3px 13px;
	border: none;
}

.forms form[name="login"] button {
	background-color: #444444;
}

.forms form[name="newsletter"] button {
	background-color: #029BB1;
	padding: 3px 21px 3px 26px;
}